.DS_Store
docs/_site/

# Buck files
/buck-cache/
/buck-out/
/.buckconfig.local
/.buckd
/.lsp.buckd
/.lsp-buck-out
/gentest/test.html
.buckversion

.cxx
.externalNativeBuild
.gradle

# Output files
build/
docs/.bundle/

# Android Studio/IntelliJ
.idea
.idea/libraries
*.iml
local.properties
