/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary-lightest: #FBCCD3;
  --ifm-color-primary-lighter: #F79CA9;
  --ifm-color-primary-light: #F68B9B;
  --ifm-color-primary: #F36B7F;
  --ifm-color-primary-dark: #F04B63;
  --ifm-color-primary-darker: #EF3A55;
  --ifm-color-primary-darkest: #E31231;
  --litho-light: #F6F7F9;
  --litho-dark: #5F6673;
  --ifm-navbar-link-color: var(--litho-light);
  --ifm-navbar-link-hover-color: #fff;
  --ifm-button-border-width: 2px;
  --ifm-code-font-size: 95%;
}

.navbar {
  background-color: var(--ifm-color-primary);
  box-shadow: none;
}

.navbar__brand:hover {
  color: #fff;
}

.navbar-sidebar__brand {
  background-color: var(--ifm-color-primary);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.video {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  padding: 10px;
}

.widget-button {
  background-color: var(--ifm-color-primary);
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 26px;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 10px;
  font-family: Arial;
  &:hover {
    background-color: var(--ifm-color-dark);
  }
}

html {
  scroll-behavior: smooth;
}