<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facebook.rendercore.sample">

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-sdk android:targetSdkVersion="33" android:minSdkVersion="19"/>

  <application
      android:name=".RenderCoreSampleApplication"
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/NoTitleBarWhiteBG">
    <activity android:name=".SampleActivity"
              android:exported="true"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
