version: 2.0
aliases:
  # NDK Cache aliases
  - &restore-cache-ndk
    keys:
      - v2-android-ndk-{{ arch }}-r15c-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}
  - &save-cache-ndk
    paths:
      - /opt/ndk
    key: v2-android-ndk-{{ arch }}-r15c-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}

  # SDK Cache aliases
  - &restore-cache-android-packages
    keys:
      - v5-android-sdkmanager-packages-{{ arch }}-api-27-alpha-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}
  - &save-cache-android-packages
    paths:
      - /opt/android/sdk
    key: v5-android-sdkmanager-packages-{{ arch }}-api-27-alpha-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}

  # BUCK Cache aliases
  - &restore-cache-buck
    keys:
      - v2-buck-{{ arch }}-master
  - &save-cache-buck
    paths:
      - workspace/buck
    key: v2-buck-{{ arch }}-master

  # Build dependencies Cache aliases
  - &restore-cache-apt
    keys:
      - v4-apt-{{ arch }}-{{ .Branch }}-{{ checksum "workspace/repo/scripts/apt-get-android-deps.sh" }}
  - &save-cache-apt
    paths:
      - ~/vendor/apt
    key: v4-apt-{{ arch }}-{{ .Branch }}-{{ checksum "workspace/repo/scripts/apt-get-android-deps.sh" }}

  # Repo Cache aliases
  - &restore-repo-cache
    keys:
      - v3-jars-{{ checksum "workspace/repo/build.gradle" }}-{{ checksum  "workspace/repo/gradle.properties" }}
  - &save-repo-cache
    paths:
      - ~/.gradle/caches
      - ~/.gradle/wrapper
    key: v3-jars-{{ checksum "workspace/repo/build.gradle" }}-{{ checksum  "workspace/repo/gradle.properties" }}

  # Install Android NDK packages needed
  - &install-ndk
    name: Install Android NDK
    command: source $HOME/litho-working-dir/workspace/repo/scripts/circle-ci-android-setup.sh && getAndroidNDK

  # Install Android SDK packages needed
  - &install-android-packages
    name: Install Android SDK Packages
    command: source $HOME/litho-working-dir/workspace/repo/scripts/circle-ci-android-setup.sh && installAndroidSDK

  # Install build dependencies
  - &install-android-build-dependencies
    name: Install Android Build Dependencies
    command: $HOME/litho-working-dir/workspace/repo/scripts/apt-get-android-deps.sh

  #  Create Android NDK directory
  - &create-android-ndk-dir
    name: Create Android NDK Directory
    command: |
      if [[ ! -e /opt/ndk ]]; then
        sudo mkdir /opt/ndk
      fi
      sudo chown ${USER:=$(/usr/bin/id -run)}:$USER /opt/ndk

  # Download and build BUCK
  - &download-buck
    name: Install BUCK
    command: |
      if [[ ! -e $HOME/litho-working-dir/workspace/buck ]]; then
        git clone https://github.com/facebook/buck.git $HOME/litho-working-dir/workspace/buck --branch master --depth=1
      fi
      cd $HOME/litho-working-dir/workspace/buck && ant
      $HOME/litho-working-dir/workspace/buck/bin/buck --version

  # Export BUCK in PATH
  - &setup-buck
    name: Set up BUCK
    command: echo "export PATH=$HOME/litho-working-dir/workspace/buck/bin:$PATH" >> $BASH_ENV

  # Setup KEY
  - &setup-keys
    name: Set up keys
    command: |
      cd workspace/repo
      [ -n \"$KEY\" ] && openssl aes-256-cbc -d -in scripts/setup-keys.enc -k $KEY >> gradle.properties || true

  # Download project Gradle dependencies
  - &download-gradle-dependencies
    name: Download Gradle dependencies
    command: |
      cd workspace/repo
      ./gradlew :litho-it:testDebugUnitTest --tests "*NodeInfoTest" --no-daemon

  # Download project BUCK dependencies
  - &download-buck-dependencies
    name: Buck Dependencies
    command: |
      cd workspace/repo
      $HOME/litho-working-dir/workspace/buck/bin/buck fetch //...

  # Save Litho BUCK test results
  - &save-litho-buck-tests-results
    name: Save Litho BUCK tests results
    command: |
      cd workspace
      mkdir -p junit
      cd repo
      find . -type f -name "litho_it_*tests*.xml" -exec cp {} ~/litho-working-dir/workspace/junit/ \;
    when: always

  # Save Litho Gradle test results
  - &save-litho-gradle-tests-results
    name: Save Litho Gradle tests results
    command: |
      cd workspace
      mkdir -p junit
      cd repo
      find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/litho-working-dir/workspace/junit/ \;
    when: always

circle_ci_android_container_config: &circle_ci_android_container_config
  docker:
    - image: circleci/android:api-28-ndk-r17b
  working_directory: ~/litho-working-dir
  environment:
    # Borrowed from https://github.com/chrisbanes/tivi/blob/master/.circleci/config.yml
    # Sometimes gradle_tests_run job would fail with OOM error from CI. This is an attempt to fix it!
    _JAVA_OPTIONS: "-Xmx1500m -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:ParallelGCThreads=2 -XX:ConcGCThreads=2 -XX:ParallelGCThreads=2 -Djava.util.concurrent.ForkJoinPool.common.parallelism=2"
    TERM: 'dumb'
    ANDROID_NDK_REPOSITORY: '/opt/ndk'
    ANDROID_NDK_HOME: '/opt/ndk/android-ndk-r15c/'

attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/litho-working-dir/workspace

store_litho_tests_results: &store_litho_tests_results
  store_test_results:
    path: ~/litho-working-dir/workspace/junit

store_litho_artifacts: &store_litho_artifacts
  store_artifacts:
    path: ~/litho-working-dir/workspace/junit

jobs:
  checkout_code:
    <<: *circle_ci_android_container_config
    steps:
      # Create folders needed
      - run: mkdir -p workspace
      - run: mkdir -p repo

      # Checkout code into repo
      - checkout:
          path: workspace/repo

      # Manage Android NDK caches
      - run: *create-android-ndk-dir
      - restore-cache: *restore-cache-ndk
      - run: *install-ndk
      - save-cache: *save-cache-ndk

      # Manage Android build depencies caches
      - restore-cache: *restore-cache-apt
      - run: *install-android-build-dependencies
      - save-cache: *save-cache-apt

      # Manage Android SDK caches
      - restore-cache: *restore-cache-android-packages
      - run: *install-android-packages
      - save-cache: *save-cache-android-packages

      # Manage BUCK caches
      - restore-cache: *restore-cache-buck
      - run: *download-buck
      - save-cache: *save-cache-buck

      # Persist repo code
      - persist_to_workspace:
          root: workspace
          paths:
            - repo

  build:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run: *download-buck-dependencies
      - run: *download-gradle-dependencies
      - save_cache: *save-repo-cache

  buck_sample_build:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Build sample with BUCK
          command: |
            cd workspace/repo
            buck fetch //...
            buck build sample --num-threads=4

  buck_sample_barebones_build:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Build sample-barebones with BUCK
          command: |
            cd workspace/repo
            buck fetch //...
            buck build sample-barebones --num-threads=4

  buck_sample_codelab_build:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Build sample-codelab with BUCK
          command: |
            cd workspace/repo
            buck fetch //...
            buck build sample-codelab --num-threads=4

  gradle_sample_kotlin_build:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Build sample-kotlin with Gradle
          command: |
            cd workspace/repo
            ./gradlew :sample-kotlin:assembleDebug --no-daemon --max-workers 2

  buck_litho_it_tests_run:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Run litho-it tests with BUCK
          command: |
            cd workspace/repo
            buck fetch //...
            buck test litho-it/src/test/... --num-threads=4 --xml litho_it_tests.xml
      - run: *save-litho-buck-tests-results
      - *store_litho_tests_results
      - *store_litho_artifacts

  buck_litho_it_powermock_tests_run:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Run lith-it-powermock tests with BUCK
          command: |
            cd workspace/repo
            buck fetch //...
            buck test litho-it-powermock/src/test/... --num-threads=4 --xml litho_it_powermock_tests.xml
      - run: *save-litho-buck-tests-results
      - *store_litho_tests_results
      - *store_litho_artifacts

  gradle_tests_run:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-buck
      - run:
          name: Run tests with Gradle
          command: |
            cd workspace/repo
            ./gradlew test --no-daemon --max-workers 2
      - run: *save-litho-gradle-tests-results
      - *store_litho_tests_results
      - *store_litho_artifacts

  publish_snapshot:
    <<: *circle_ci_android_container_config
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-repo-cache
      - restore-cache: *restore-cache-ndk
      - restore-cache: *restore-cache-buck
      - restore-cache: *restore-cache-android-packages
      - run: *setup-keys
      - run: *setup-buck
      - run:
          name: Publish Snapshot
          command: |
            cd workspace/repo
            scripts/circle-ci-publish-snapshot.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_code
      - build:
          requires:
            - checkout_code
      - buck_sample_build:
          requires:
            - build
      - buck_sample_barebones_build:
          requires:
            - build
      - buck_sample_codelab_build:
          requires:
            - build
      - gradle_sample_kotlin_build:
          requires:
            - build
      - buck_litho_it_tests_run:
          requires:
            - build
      - buck_litho_it_powermock_tests_run:
          requires:
            - build
      - gradle_tests_run:
          requires:
            - build
      - publish_snapshot:
          requires:
            - buck_litho_it_tests_run
            - buck_litho_it_powermock_tests_run
            - gradle_tests_run
          filters:
            branches:
              only: master
