version: 2.1
aliases:
  # NDK Cache aliases
  - &restore-cache-ndk
    keys:
      - v2-android-ndk-{{ arch }}-r15c-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}
  - &save-cache-ndk
    paths:
      - /opt/ndk
    key: v2-android-ndk-{{ arch }}-r15c-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}

  # SDK Cache aliases
  - &restore-cache-android-packages
    keys:
      - v5-android-sdkmanager-packages-{{ arch }}-api-27-alpha-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}
  - &save-cache-android-packages
    paths:
      - /opt/android/sdk
    key: v5-android-sdkmanager-packages-{{ arch }}-api-27-alpha-{{ checksum "workspace/repo/scripts/circle-ci-android-setup.sh" }}

  # BUCK Cache aliases
  - &restore-cache-buck
    keys:
      - v3-buck-{{ arch }}-master
  - &save-cache-buck
    paths:
      - workspace/buck
    key: v3-buck-{{ arch }}-master

  # Build dependencies Cache aliases
  - &restore-cache-apt
    keys:
      - v4-apt-{{ arch }}-{{ .Branch }}-{{ checksum "workspace/repo/scripts/apt-get-android-deps.sh" }}
  - &save-cache-apt
    paths:
      - ~/vendor/apt
    key: v4-apt-{{ arch }}-{{ .Branch }}-{{ checksum "workspace/repo/scripts/apt-get-android-deps.sh" }}

  # Repo Cache aliases
  - &restore-repo-cache
    keys:
      - v3-jars-{{ checksum "workspace/repo/build.gradle" }}-{{ checksum  "workspace/repo/gradle.properties" }}
  - &save-repo-cache
    paths:
      - ~/.gradle/caches
      - ~/.gradle/wrapper
    key: v3-jars-{{ checksum "workspace/repo/build.gradle" }}-{{ checksum  "workspace/repo/gradle.properties" }}

  # Install Android NDK packages needed
  - &install-ndk
    name: Install Android NDK
    command: source $HOME/litho-working-dir/workspace/repo/scripts/circle-ci-android-setup.sh && getAndroidNDK

  # Install Android SDK packages needed
  - &install-android-packages
    name: Install Android SDK Packages
    command: source $HOME/litho-working-dir/workspace/repo/scripts/circle-ci-android-setup.sh && installAndroidSDK

  # Install build dependencies
  - &install-android-build-dependencies
    name: Install Android Build Dependencies
    command: $HOME/litho-working-dir/workspace/repo/scripts/apt-get-android-deps.sh

  #  Create Android NDK directory
  - &create-android-ndk-dir
    name: Create Android NDK Directory
    command: |
      if [[ ! -e /opt/ndk ]]; then
        sudo mkdir /opt/ndk
      fi
      sudo chown ${USER:=$(/usr/bin/id -run)}:$USER /opt/ndk

  # Download and build BUCK
  - &download-buck
    name: Install BUCK
    command: |
      if [[ ! -e $HOME/litho-working-dir/workspace/buck ]]; then
        git clone https://github.com/facebook/buck.git $HOME/litho-working-dir/workspace/buck --branch master --depth=1
      fi
      cd $HOME/litho-working-dir/workspace/buck && ant
      $HOME/litho-working-dir/workspace/buck/bin/buck --version

  # Export BUCK in PATH
  - &setup-buck
    name: Set up BUCK
    command: echo "export PATH=$HOME/litho-working-dir/workspace/buck/bin:$PATH" >> $BASH_ENV

  # Setup KEY
  - &setup-keys
    name: Set up keys
    command: |
      cd workspace/repo
      [ -n \"$KEY\" ] && openssl aes-256-cbc -d -in scripts/setup-keys.enc -k $KEY >> gradle.properties || true

  # Download project Gradle dependencies
  - &download-gradle-dependencies
    name: Download Gradle dependencies
    command: |
      cd workspace/repo
      ./gradlew :litho-it:testDebugUnitTest --tests "*NodeInfoTest" --no-daemon

  # Download project BUCK dependencies
  - &download-buck-dependencies
    name: Buck Dependencies
    command: |
      cd workspace/repo
      # $HOME/litho-working-dir/workspace/buck/bin/buck fetch //... # explicitly exclude Kotlin modules until OSS BUCK config will be fixed
      $HOME/litho-working-dir/workspace/buck/bin/buck fetch //:components sample sample-barebones sample-codelab litho-it/... litho-it-powermock/...

  # Save Litho BUCK test results
  - &save-litho-buck-tests-results
    name: Save Litho BUCK tests results
    command: |
      cd workspace
      mkdir -p junit
      cd repo
      find . -type f -name "litho-it*tests*.xml" -exec cp {} ~/litho-working-dir/workspace/junit/ \;
    when: always

  # Save Litho Gradle test results
  - &save-litho-gradle-tests-results
    name: Save Litho Gradle tests results
    command: |
      cd workspace
      mkdir -p junit
      cd repo
      find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/litho-working-dir/workspace/junit/ \;
    when: always

attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/litho-working-dir/workspace

store_litho_tests_results: &store_litho_tests_results
  store_test_results:
    path: ~/litho-working-dir/workspace/junit

store_litho_artifacts: &store_litho_artifacts
  store_artifacts:
    path: ~/litho-working-dir/workspace/junit

executors:
  litho-executor:
    docker:
      - image: circleci/android:api-28-ndk
    working_directory: ~/litho-working-dir
    environment:
      # Borrowed from https://github.com/chrisbanes/tivi/blob/master/.circleci/config.yml
      # Sometimes gradle_tests_run job would fail with OOM error from CI. This is an attempt to fix it!
      _JAVA_OPTIONS: "-Xmx1500m -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:ParallelGCThreads=2 -XX:ConcGCThreads=2 -XX:ParallelGCThreads=2 -Djava.util.concurrent.ForkJoinPool.common.parallelism=2"
      TERM: 'dumb'
      ANDROID_NDK_REPOSITORY: '/opt/ndk'
      ANDROID_NDK_HOME: '/opt/ndk/android-ndk-r15c/'

commands:
  attach_restore_setup_buck:
    description: "A command that attaches to workspace, restores caches and setups BUCK"
    steps:
      - *attach_workspace
      - run: *create-android-ndk-dir
      - restore_cache: *restore-cache-ndk
      - restore_cache: *restore-cache-buck
      - restore_cache: *restore-repo-cache
      - restore_cache: *restore-cache-android-packages
      - run: *setup-buck

  buck_build:
    description: "A command that uses BUCK for builds"
    parameters:
      module_name:
        type: string
    steps:
      - attach_restore_setup_buck
      - run:
          name: Build <<parameters.module_name>> with BUCK
          command: |
            cd workspace/repo
            buck fetch <<parameters.module_name>>
            buck build <<parameters.module_name>> --num-threads=4
  
  gradle_build:
    description: "A command that uses Gradle for builds"
    parameters:
      module_name:
        type: string
    steps:
      - attach_restore_setup_buck
      - run:
          name: Build <<parameters.module_name>> with Gradle
          command: |
            cd workspace/repo
            ./gradlew :<<parameters.module_name>>:assembleDebug --no-daemon --max-workers 2

  buck_tests:
    description: "A command that runs tests using BUCK"
    parameters:
      module_name:
        type: string
    steps:
      - attach_restore_setup_buck
      - run:
          name: Run <<parameters.module_name>> tests with BUCK
          command: |
            cd workspace/repo
            buck fetch <<parameters.module_name>>/...
            buck test <<parameters.module_name>>/src/test/... --num-threads=4 --xml <<parameters.module_name>>_tests.xml
      - run: *save-litho-buck-tests-results
      - *store_litho_tests_results
      - *store_litho_artifacts

jobs:
  checkout_code:
    executor: litho-executor
    steps:
      # Create folders needed
      - run: mkdir -p workspace
      - run: mkdir -p repo

      # Checkout code into repo
      - checkout:
          path: workspace/repo

      # Manage Android NDK caches
      - run: *create-android-ndk-dir
      - restore_cache: *restore-cache-ndk
      - run: *install-ndk
      - save_cache: *save-cache-ndk

      # Manage Android build depencies caches
      - restore_cache: *restore-cache-apt
      - run: *install-android-build-dependencies
      - save_cache: *save-cache-apt

      # Manage Android SDK caches
      - restore_cache: *restore-cache-android-packages
      - run: *install-android-packages
      - save_cache: *save-cache-android-packages

      # Manage BUCK caches
      - restore_cache: *restore-cache-buck
      - run: *download-buck
      - save_cache: *save-cache-buck

      # Persist repo code
      - persist_to_workspace:
          root: workspace
          paths:
            - repo

  build:
    executor: litho-executor
    steps:
      - attach_restore_setup_buck
      - run: *download-buck-dependencies
      - run: *download-gradle-dependencies
      - save_cache: *save-repo-cache

  buck_sample_build:
    executor: litho-executor
    steps:
      - buck_build:
          module_name: "sample"

  buck_sample_barebones_build:
    executor: litho-executor
    steps:
      - buck_build:
          module_name: "sample-barebones"

  buck_sample_codelab_build:
    executor: litho-executor
    steps:
      - buck_build:
          module_name: "sample-codelab"

  gradle_sample_build:
    executor: litho-executor
    steps:
      - gradle_build:
          module_name: "sample"

  gradle_sample_kotlin_build:
    executor: litho-executor
    steps:
      - gradle_build:
          module_name: "sample-kotlin"


  buck_litho_it_tests_run:
    executor: litho-executor
    steps:
      - buck_tests:
          module_name: "litho-it"

  buck_litho_it_powermock_tests_run:
    executor: litho-executor
    steps:
      - buck_tests:
          module_name: "litho-it-powermock"

  gradle_tests_run:
    executor: litho-executor
    steps:
      - attach_restore_setup_buck
      - run:
          name: Run test with Gradle
          command: |
            cd workspace/repo
            # Temporarily exclude IntelliJ Plugin tests.
            ./gradlew test -x :litho-intellij-plugin:test --no-daemon --max-workers 2
      - run: *save-litho-gradle-tests-results
      - *store_litho_tests_results
      - *store_litho_artifacts

  publish_snapshot:
    executor: litho-executor
    steps:
      - attach_restore_setup_buck
      - run: *setup-keys
      - run:
          name: Publish Snapshot
          command: |
            cd workspace/repo
            scripts/circle-ci-publish-snapshot.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_code
      - build:
          requires:
            - checkout_code
      - buck_sample_build:
          requires:
            - build
      - buck_sample_barebones_build:
          requires:
            - build
      - buck_sample_codelab_build:
          requires:
            - build
      - gradle_sample_build:
          requires:
            - build
      - gradle_sample_kotlin_build:
          requires:
            - build
      - buck_litho_it_tests_run:
          requires:
            - build
      - buck_litho_it_powermock_tests_run:
          requires:
            - build
      - gradle_tests_run:
          requires:
            - build
      - publish_snapshot:
          requires:
            - buck_litho_it_tests_run
            - buck_litho_it_powermock_tests_run
            - gradle_tests_run
          filters:
            branches:
              only: master
